
@{
    ViewBag.Title = "LoggedIn";
}
@if(Session["UserId"]!=null)
{
    <h4>Hello @Session["Username"].ToString()</h4>
}
<div>
    <span>@Html.ActionLink("Commander", "Commander")</span>
    <span>@Html.ActionLink("Mes Commandes", "MesCommandes", new { id = Session["userId"] })</span>
    <br/>
    <br/>
    <br/>
</div>
<div>
    @Html.ActionLink("Se déconnecter", "Logout")<br />
</div>